/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-color: #ff0070;
  --header-title-color: #DB00FF;
  --title-color: #000028;
  --text-color: #F1B2CE;
  --accent-color-transparance: #ff007066;
  --bg-image: url('../images/cover-image-dark.png');
  --section-title-color: #ff0070;
  --button-color: #ff0070;
  --decoration-color: #ff0070;
}

.theme-dark .decoration {
  display: block;
  /* Вам также нужно будет написать ряд подобных селекторов */
}
