/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --header-title-color: #ffc2e6;
  --title-color: #353430;
  --text-color: #353430;
  --accent-color-transparance: #32312d66;
  --bg-image: url("../images/cover-image-light.png");
  --section-title-color: #353430;
  --button-color: #353430;
  --decoration-color: #353430;
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --header-title-color: #ffc2e6;
    --title-color: #353430;
    --text-color: #353430;
    --accent-color-transparance: #32312d66;
    --bg-image: url("../images/cover-image-light.png");
    --section-title-color: #353430;
    --button-color: #353430;
    --decoration-color: #353430;
  }

  .decoration {
    display: none;
  }
}
