/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.header {
  display: grid;
  position: relative;
  justify-items: end;
  grid-template-rows: repeat(4, min-content);
  margin-block-end: 40px;
  min-block-size: 668px;
}

.decoration {
  font-family: var(--font-family), Arial, sans-serif;
  color: var(--accent-color);
  font-size: var(--text-font-size);
  line-height: 23.4px;
  font-weight: var(--normal-font-weight);
  position: absolute;
  right: 28px;
  top: 11px;
}

.decoration::after {
  content: "";
  position: absolute;
  block-size: 9px;
  inline-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  left: 42px;
  top: 7px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: 1px solid var(--decoration-color);
  border-block-start: 1px solid var(--decoration-color);
  top: 10px;
  right: 0;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: 1px solid var(--decoration-color);
  border-block-end: 1px solid var(--decoration-color);
  bottom: 10px;
  left: 0;
}

.header__theme-menu {
  margin-block-start: 73px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  
  background-color: transparent;
  text-transform: lowercase;
  block-size: 26px;
  inline-size: 70px;
  border: 1px solid transparent;
  appearance: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-transparance);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border: none;
  border: 1px solid transparent;
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-item {
  font-family: var(--font-family), Arial, sans-serif;
  font-size: var(--text-font-size);
  color: var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--font-family), Arial, sans-serif;
  line-height: 82%;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-block-start: 68px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
  font-size: var(--text-font-size);
  font-family: var(--font-family), Arial, sans-serif;
  font-weight: var(--bold-font-weight);
  line-height: 23px;
}

.header__description {
  margin-block-start: 55px;
}

.text__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.text__link:hover {
  border-block-end: 1px solid var(--text-color);
}

.text__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section-advices {
  display: grid;
  gap: 20px;
}

.section-difficults {
  display: grid;
  gap: 20px;
}

.section-concentration {
  display: grid;
  gap: 20px;
}

.concentration-container {
  display: grid;
  gap: 20px;
}

.section:not(:last-of-type) {
  margin-block-end: 50px;
}

.section:last-of-type {
  margin-block-end: 40px;
}

.section__title {
  font-family: var(--font-family), Arial, sans-serif;
  color: var(--section-title-color);
  font-size: var(--text-font-size);
  font-weight: var(--bold-font-weight);
}

.paragraph__title {
  margin-block-end: 10px;
}

.paragraph__subtitle {
  font-weight: var(--normal-font-weight);
  margin-block-end: 10px;
}

.paragraph__text {
  font-family: var(--font-family), Arial, sans-serif;
  font-size: var(--text-font-size);
  line-height: 23.4px;
  color: var(--text-color);
}

.line-height-another {
  line-height: 23.5px;
}

.section-gallery h2 {
  line-height: 24px;
  margin-block-end: 10px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
}

.footer {
  inline-size: 100%;
  block-size: 668px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--font-family), Arial, sans-serif;
  line-height: 82%;
  color: var(--header-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width>= 768px) {
  .page {
    padding-inline-start: 0;
    padding-inline-end: 20px;
  }

  .header {
    min-height: 1024px;
    margin-block-end: 60px;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decoration {
    top: 21px;
    right: 28px;
  }

  .header__theme-menu {
    margin-block-start: 190px;
  }

  .header__title {
    margin-block-start: 177px;
    justify-self: start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    width: calc(100% / 2 - 10px);
    margin-block-start: 161px;
  }

  .main {
    padding-inline-start: 20px;
  }

  .section-advices {
    grid-template-columns: 1fr 2fr;
  }

  .section-difficults {
    grid-template-columns: 1fr 2fr;
  }

  .section-advices .section__title {
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .section-difficults .section__title {
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .section-advices .paragraph {
    grid-column-start: 2;
  }

  .section-difficults .paragraph {
    grid-column-start: 2;
  }

  .section:not(:last-of-type) {
    margin-block-end: 80px;
  }

  .section:last-of-type {
    margin-block-end: 60px;
  }

  .section-concentration {
    grid-template-rows: min-content 1fr;
    grid-template-columns: min-content 1fr;
  }

  .concentration-container {
    grid-template-columns: min-content;
    grid-row: 2 / span 1;
    grid-column: 1 / 3;
  }

  .section-concentration .paragraph {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .section-gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-gallery h2 {
    margin-block-end: 20px;
  }

  .gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__image {
    display: block;
    object-fit: cover;
    inline-size: 100%;
    block-size: 100%;
  }

  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    min-inline-size: 479px;
  }

  .gallery__image:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
  }

  .gallery__image:nth-child(3) {
    grid-row: 2 / 4;
  }

  .gallery__image:nth-child(4) {
    grid-row: 2 / 3;
  }
  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
  }
  .footer {
    min-block-size: 1024px;
    justify-content: center;
    padding: 0;
    margin-inline-start: 10px;
  }

  .footer::before {
    right: 10px;
  }

  .footer::after {
    left: 10px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    margin-block-start: 20px;
    justify-self: center;
    padding-inline-start: 19px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .header__title {
    margin-block-start: 274px;
  }

  .header__description {
    margin-block-start: 114px;
  }

  .section-concentration {
    grid-template-columns: repeat(3, 1fr);
  }

  .concentration-container {
    grid-column: 1 / 4;
    grid-template-columns: repeat(3, 1fr);
  }

  .section-concentration .paragraph {
    grid-column: auto;
  }

  .section-difficults {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-difficults .paragraph {
    grid-column: 2 / span 2;
  }

  .section-advices {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-advices .title-decor {
    grid-column: 2 / span 2;
  }

  .section-advices .paragraph {
    grid-column: 2 / span 2;
  }

  .footer {
    min-height: 768px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
